body{
   
}

#k{
    height:10px;
    width: 300px;
    margin: 80px; 
}
p{
    font-size: 40px;
}

.green{
    color:green;
}

.red{
    color: red;
}

#section-1-l{
    float:left;
}

#section-1-r{
    float:right;
}