body{
    background: white;
    font:black;
   
}
.container{
    background: lightgray;
}

.hvr-wobble-to-top-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }

  .hvr-wobble-to-top-right:hover, .hvr-wobble-to-top-right:focus, .hvr-wobble-to-top-right:active {
    -webkit-animation-name: hvr-wobble-to-top-right;
    animation-name: hvr-wobble-to-top-right;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
  }

#k{
    height:30px;
    width: 500px;
    margin: 80px; 
}
p{
    font-size: 40px;
}

.green{
    color:green;
}

.red{
    color: red;
}

#section-1-l{
    float:left;
}

#section-1-r{
    float:right;
    
    background: white;
    color:white;
    
    font-size: 22px;
    margin-left: 12px;
    margin-top: 28px;
    
    font: black;
    
    top:0;
   
    

}

.links{
    margin-left: 18px;
}

#footer-holder{
    height: 150px;
    width: 100%;
    
    opacity: 0.5;
}



.main-title{
    float:left;
    margin-top:2px;
}


#main-img{
    width: 100%;
    background:transparent;
}

ul li{
    list-style: none;
    
    
}

.dash-nav li{
    float:right;
    

    margin-left: 25px;
}

.display-pic{
    height:80px;
    width:80px;
    margin-right:80px;
    margin-top:40px;
    border: 3px solid green;
    box-shadow: #e5e6e8;
    
}

#main-pic{
    background-repeat: no-repeat;
    height:100%;
    width:90%;
    opacity: 1;
}

.login-main{
    width:300px;
    height: 300px;
}

.lg-container{
    height: 360px;
    width: 450px;
    background: slategrey;
    margin-top: 100px;

}

#second-home-section li{
   display:inline;
}